<div class="row">
  <div class="col-md-12">
    <h1>Results</h1> <a href="#top"><i class="fa fa-arrow-circle-o-up"></i></a>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>{{ name }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <a href="#" class="thumbnail">
      <img src="{{ mainImage }}" alt="{{ name }}">
    </a>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Trip Analysis</h3>
      </div>
      <div class="panel-body">
          {{#if epa}}
          <div class="cost-analysis">
            <span class="label label-primary">EPA Estimated Cost:</span>
            <strong>${{formatNumber epa}}</strong>
            <span class="label label-info">EPA + Expenses:</span>
            <strong>${{formatNumber epatrip}}</strong>
          </div>
          {{/if}}
          {{#if ege}}
          <div class="cost-analysis">
            <span class="label label-primary">EGE Estimated Cost:</span>
            <strong>${{formatNumber ege}}</strong>
            <span class="label label-info">EGE + Expenses:</span>
            <strong>${{formatNumber egetrip}}</strong>
          </div>
          {{/if}}
      </div>
    </div>
  </div>
</div>